html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

body {
    display: inline-block;
    max-width: 600px;
    margin: 5px 6px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.125em;
    margin: 2.2em 0;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #455A64;
}
a:hover {
    color: #607D8B;
    text-decoration: underline;
}

abbr {
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 0.5em;
    margin: 10px;
    background-color: rgba(100, 100, 100, 0.06);
    border-radius: 3px;
}
.button:hover {
    background-color: rgba(100, 100, 100, 0.1);
}