node_modules
npm-debug.log

public/cn
public/de
public/el
public/en
public/es
public/fa
public/fi
public/fr
public/he
public/id
public/it
public/ja
public/ko
public/no
public/pt_BR
public/pt_PT
public/ru
public/tr
public/uk
public/vi
public/zh_TW
