html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}

body {
  display: inline-block;
  max-width: 600px;
  margin: 5px 6px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.125em;
  margin: 2.2em 0;
}

p {
  font-size: 15px;
  margin: .6em 0;
}

a {
  text-decoration: none;
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
}
a:hover {
  color: #607D8B;
  border-bottom: 1px solid #607D8B;
}

abbr {
  cursor: pointer;
}

.button {
  border: none;
  display: inline-block;
  padding: 0.5em;
  margin: 10px;
  background-color: rgba(100, 100, 100, 0.06);
  border-radius: 3px;
}
.button:hover {
  border: none;
  background-color: rgba(100, 100, 100, 0.1);
}
.logo {
  margin-top:20px;
}

.multi-button {
  display: inline-block
}
.multi-button .button {
  margin: 10px 0;
  border-right: 1px solid rgba(100, 100, 100, 0.08);
}
.multi-button .button:first-child {
  margin: 10px 0 10px 10px;
  border-radius: 3px 0 0 3px;
}
.multi-button .button:last-child {
  margin: 10px 10px 10px 0;
  border-right: none;
  border-radius: 0 3px 3px 0;
}
