*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.brand {
    margin: 5px 10px;
    color: #aaa;
    text-align: left;
}
.heading {
    font-size: 55px;
    line-height: 175px;
}
body {
    display: inline-block;
    max-width: 700px;
    margin: 5px 6px;
    background: #111;
    color: #eee;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.125em;
    margin: 2.2em 0;
}
p {
    font-size: 15px;
    margin: .6em 0;
}
a {
    text-decoration: none;
    color: #eee;
    border-bottom: 1px solid #eee;
    transition: .3s all ease;
}
a:hover {
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
.button {
    border: solid 1px #eee;
    display: inline-block;
    padding: 1em;
    margin: 10px;
    background-color: transparent;
    border-radius: 3px;
    transition: .3s all ease;
    color: #eee;
}
.button-large {
    font-size: 20px;
    margin: 15px !important;
    padding: 1.3em;
    border-radius: 5px;
}
.button:hover {
    background-color: #eee;
    color: #333;
}
.multi-button {
    display: inline-block
}
.multi-button .button {
    margin: 0;
    border-left: none;
}
.multi-button .button:first-child {
    margin: 0;
    border-radius: 3px 0 0 3px;
    border: solid 1px #eee;
}
.multi-button .button:last-child {
    border-radius: 0 3px 3px 0;
}
.faq-item {
    border-radius: 3px;
    border:solid 1px #eee;
    margin:20px;
}
.faq-title {
    margin:0;
    line-height:3em;
    background: #eee;
    color:#333;
}
.faq-body {
    margin:1em;
}
