*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #292829;
  padding: 20px;

}

a.logo {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 1rem;
}

a.logo:hover {
  color: #F7DF31;
}

#content {
  position-relative;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.9;
  margin: 0.5rem 0;
  font-weight: 400;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #000;
}

p a {
  text-decoration: underline;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
  margin-right: -2px;
}

p a:hover {
  background: #F7DF31;
  text-decoration: none;
}

nav {
  font-size: 0.9rem;
  margin: 70px 0 30px 0;
  transition: all 0.2s;
}

nav a {
  display: inline-block;
  line-height: 2.2;
  padding: 0 20px;
  margin: 0;
  border-right: 1px solid #DDD;
  transition: all 0.2s;
}

nav a:last-child, nav:hover a {
  border-color: transparent;
}

nav a:hover {
  background: #F7DF31;
  color: #292829;
  border-radius: 3px;
}
