ul.blog-posts 
  list-style none
  li
    margin-top: 1rem

.post-date
  font-size: 1rem
  color #666
    
.h2
  color black
  font-size 1.4rem

.main-content a
  text-decoration underline
  &:hover
    text-decoration none
