[data-markdown-page="index"]
  .content p:nth-child(2)
    text-align center
  .content p:nth-child(3)
    text-align center
    margin-bottom 40px

  .content p:nth-child(4) // Logo Container
    position relative
    background #EEE
    border-radius 4px 0 0 4px
    margin 0
    padding 20px 16px 20px 24px
    padding-bottom 15px
    min-height 160px
    display block
    float left
    height 165px
    max-height 165px
    a
      &:hover
        background transparent
      img
        height 120px
  .content p:nth-child(5) // main link
  .content p:nth-child(6) // OS links
  .content p:nth-child(7) // Changelog
    position relative
    background #EEE
    margin 0
    padding 20px
    display block
    float left
    width 440px
    a
      text-decoration:none;
      &:hover
        background transparent
        text-decoration underline
  .content p:nth-child(5)
    display block
    font-size 1.4rem
    font-weight 700
    color black
    height 85px
    max-height 85px
    border-radius 0 4px 0 0
  .content p:nth-child(6)
    color #565656
    font-size 0.9rem
    padding-top 0
    padding-bottom 0
    height 28px
    max-height 28px
  .content p:nth-child(7)
    padding-top 0
    height 52px
    max-height 52px
    border-radius 0 0 4px 0
  .content p:nth-child(8) // nightly releases
  .content p:nth-child(9) // FAQ
    display block
    float left
    width 100%
    text-align:center;
  .content p:nth-child(8)
    margin-top 40px
    margin-bottom 0px
  .content p:nth-child(9)
    margin-top 0px
