@media (max-width: 630px)
  .content p:nth-child(4)
    float none !important
    text-align center
    padding-bottom 5px !important
    min-height 140px !important
    max-height 140px !important

  .content p:nth-child(5), .content p:nth-child(6), .content p:nth-child(7)
    text-align center
    width 100% !important


@media (max-width: 560px)
  nav a
    line-height 3
    display block
    border none

  .release-version em
    display block


@media (max-width: 480px)
  h1
    font-size 2rem

  p
    line-height 1.6

  nav
    margin-top 20px

  header
    .content
      padding 0

    a
      padding-left 1rem


@media (max-width: 410px)
  header
    .content
      flex-flow column wrap

    a
      line-height 3.5

      &:first-child
        padding-left 1rem

      &:last-child
        padding-left 1rem

  .content
    padding-left 15px
    padding-right 15px

  .release-logo-link
    display block
    text-align center

  .release-logo
    position relative
    top initial
    left initial

  .release-version
    text-align center

  .release-details
    padding-left initial
    padding-top initial

  .home-logo
    padding 20px 0 0 !important

  .home-download
    flex-direction column

  .home-download-details
    padding 0 20px 20px

    p
      text-align center
