@media (max-width: 560px) {
  nav a {
    line-height: 3;
    display: block;
    border: none;
  }
  .release-version em {
    display: block;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  p {
    line-height: 1.6;
  }
  nav {
    margin-top: 20px;
  }
  header .content {
    padding: 0;
  }
  header a {
    padding-left: 1rem;
  }
}
@media (max-width: 410px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .release-logo-link {
    display: block;
    text-align: center;
  }
  .release-logo {
    position: relative;
    top: initial;
    left: initial;
  }
  .release-version {
    text-align: center;
  }
  .release-details {
    padding-left: initial;
    padding-top: initial;
  }
}
