<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Release ##release## | io.js - JavaScript I/O</title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <link href="/dist.css" rel="stylesheet">
  <link rel="icon" href="/images/1.0.0.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon-1.0.0.png">
  <meta property="og:image" content="https://iojs.org/images/1.0.0.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1369">
  <meta property="og:image:height" content="1563">
</head>

<body>

  <header>
    <nav class="content" role="navigation">
      <a href="/" class="logo">io.js</a>
    </nav>
  </header>

  <div class="content content--dist clearfix" role="main">
    <h2>Release <span>##release##</span></h2>
    <time>##date##</time> (nightly)<br>
    <p>
      <a href="doc/api/">API Docs</a><br>
      <a href="SHASUMS256.txt">SHA Checksums</a>
    </p>

    <table class="release">
      <tbody>
        <tr>
          <th>Windows Installer (.msi)</th>
          <td><a href="iojs-##release##-x86.msi">32-bit</a></td>
          <td><a href="iojs-##release##-x64.msi">64-bit</a></td>
        </tr>

        <tr>
          <th>Windows Binary (.exe)</th>
          <td><a href="win-x86/">32-bit</a></td>
          <td><a href="win-x64/">64-bit</a></td>
        </tr>

        <tr>
          <th class="release-platform-divider">Mac OS X Installer (.pkg)</th>
          <td class="release-platform-divider" colspan="2"><a href="##release##.pkg">Universal</a></td>
        </tr>

        <tr>
          <th>Mac OS X Binaries (.tar.gz)</th>
          <td><a href="##release##-darwin-x86.tar.gz">32-bit</a></td>
          <td><a href="##release##-darwin-x64.tar.gz">64-bit</a></td>
        </tr>

        <tr>
          <th class="release-platform-divider">Linux Binaries (.tar.gz)</th>
          <td class="release-platform-divider"><a href="##release##-linux-x86.tar.gz">32-bit</a></td>
          <td class="release-platform-divider"><a href="##release##-linux-x64.tar.gz">64-bit</a></td>
        </tr>

        <tr>
          <th>Linux Binaries (.tar.xz)</th>
          <td><a href="##release##-linux-x86.tar.xz">32-bit</a></td>
          <td><a href="##release##-linux-x64.tar.xz">64-bit</a></td>
        </tr>

        <tr>
          <th>Linux ARM Binaries (.tar.gz)</th>
          <td><a href="##release##-linux-arm86.tar.gz">32-bit</a></td>
          <td><a href="##release##-linux-arm64.tar.gz">64-bit</a></td>
        </tr>

        <tr>
          <th>Linux ARM Binaries (.tar.xz)</th>
          <td><a href="##release##-linux-arm86.tar.xz">32-bit</a></td>
          <td><a href="##release##-linux-arm64.tar.xz">64-bit</a></td>
        </tr>

        <tr>
          <th class="release-platform-divider">Source Code (.tar.gz)</th>
          <td class="release-platform-divider" colspan="2"><a href="##release##.tar.gz">##release##.tar.gz</a></td>
        </tr>

        <tr>
          <th>Source Code (.tar.xz)</th>
          <td colspan="2"><a href="##release##.tar.gz">##release##.tar.xz</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
