<h1>JavaScript I/O (and other interesting stuff)</h1>

<p class="home-slogan">
  {{hb 'home.slogan'}}
</p>

<p class="home-description">
  {{hb 'home.short_description'}}
</p>

<div class="home-download">
  <a href="{{project.current_version_downloads.all}}" class="home-logo"><img src="/images/1.0.0.png" alt="io.js"></a>
  <div class="home-download-details">
    <p class="home-download-version">
      <a href="{{project.current_version_downloads.all}}">{{hb 'verbose_version'}}</a>
    </p>
    <p class="home-download-list">
      {{hb 'home.download_links'}}
    </p>
    <p>{{link 'pages.changelog'}}</p>
  </div>
</div>

{{#if i18n.home.news_link}}
<div class="home-secondary-links">
  <p>{{hb 'home.news_link'}}</p>
</div>
{{/if}}

<div class="home-secondary-links">
  <p>{{hb 'home.nightly_releases'}}</p>
  <p>{{hb 'home.faq_verbose'}}</p>
</div>
