<h1>{{i18n 'releases.title'}}</h1>

<div class="releaseTable">
  {{#project.versions}}
  <div class="releaseTable-release">
    <div class="releaseTable-versionRow">
      <h2 class="releaseTable-version">
        {{version}}
      </h2>
      <time>{{date}}</time>
    </div>
    <div class="releaseTable-details">
      <span>v8 <strong>{{v8}}</strong></span>
      <span>npm <strong>{{npm}}</strong></span>
      <span class="releaseTable-spacer"></span>
      <div class="releaseTable-links">
        <a href="http://iojs.org/dist/{{version}}">
          {{i18n 'releases.downloads'}}
        </a>
        <a href="https://github.com/nodejs/io.js/blob/{{version}}/CHANGELOG.md">
          {{i18n 'links.pages.changelog'}}
        </a>
        <a href="https://iojs.org/dist/{{version}}/doc/api/">
          {{i18n 'api-link'}}
        </a>
      </div>
    </div>
  </div>
  {{/project.versions}}
</div>
